<table class="table">
    <tr>
        <td><h3>All available Coupons</h3></td>
        <td></td>
    </tr> 
    
	<form class="form-inline">
	  <div class="form-group">
	    <div class="input-group">
		    <input type="text" ng-model="asyncSelected" placeholder="Type in the coupon title for quick search ..." uib-typeahead="coupon as coupon.title for coupon in lookupCoupons($viewValue)" typeahead-loading="loading" typeahead-no-results="noResults" class="form-control">
		    <div class="input-group-btn">
		      <button type="button" ng-class="['btn btn-default btn-warning', asyncSelected.id ? '' : 'disabled']" ng-click="quickBuyCoupon(asyncSelected.id)">Buy it !!!</button>
		    </div>
	    </div>
	    <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
		<div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
	  </div>
	</form>
    
    <tr ng-repeat="coupon in getCoupons()">
        <td>{{coupon.title}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewCustomerCoupon({id:coupon.id})">View</a>
            <a class="btn btn-danger"  ng-click="purchaseCoupon(coupon)">Purchase</a>
        </td>
    </tr>
</table>
<div>
  <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"></uib-pagination>
</div>